/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Reset
2.0 - Typography
3.0 - Elements
4.0 - Forms
5.0 - Navigation
	5.1 - Links
	5.2 - Menus
6.0 - Accessibility
7.0 - Alignments
8.0 - Clearings
9.0 - Widgets
10.0 - Content
	10.1 - Posts and pages
	10.2 - Asides
	10.3 - Comments
11.0 - Infinite scroll
12.0 - Media
	12.1 - Captions
	12.2 - Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
0.0 Normalize uncomment out to import normalize
--------------------------------------------------------------*/
.span {
  color: black; }

/*--------------------------------------------------------------
1.0 Resets
--------------------------------------------------------------*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body, form, fieldset, legend, input, select, textarea, button {
  margin: 0; }

html {
  font-size: 100%; }

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
a h1, a h2, a h3, a h4, a h5, a h6 {
  line-height: normal;
  letter-spacing: 2px;
  font-weight: normal;
  margin: 0 0 0.33em 0;
  color: #d9dce0 !important; }

h1, .h1 {
  font-size: 25px;
  font-size: 2.5rem; }

h2, .h2 {
  font-size: 20px;
  font-size: 2rem; }

h3, .h3 {
  font-size: 16.25px;
  font-size: 1.625rem; }

h4, .h4 {
  font-size: 12.5px;
  font-size: 1.25rem; }

h5, .h5 {
  font-size: 11.25px;
  font-size: 1.125rem; }

h6, .h6 {
  font-size: 10px;
  font-size: 1rem; }

.no-style-heading {
  font-size: 100%; }

.clear:before, .site:before, .site-header:before,
.site-footer:before, .clear:after, .site:after, .site-header:after,
.site-footer:after {
  content: "";
  display: table; }

.clear:after, .site:after, .site-header:after,
.site-footer:after {
  clear: both; }

.clear, .site, .site-header,
.site-footer {
  zoom: 1; }

body,
button,
input,
select,
textarea {
  letter-spacing: 1.2px;
  color: #939aa6;
  font-family: "Lato", Arial, sans-serif;
  line-height: 1.5;
  font-size: 9px;
  font-size: 0.9rem;
  line-height: 1px;
  line-height: 1.11111rem;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #26292E; }

i, em, .em, dfn, q {
  font-style: italic; }

p {
  margin: 0 0 1.6em 0; }

pre {
  margin: 1em 0;
  color: #26292E; }

ul + p, ul + pre, ol + p, ol + pre {
  margin-top: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

mark {
  background: #ff0;
  color: #111; }

audio:not([controls]) {
  height: 0; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

hr {
  border: 0;
  background: none;
  outline: 0;
  background-color: #ddd;
  margin: 2em 0;
  *margin: 1em 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px; }

p {
  margin-bottom: 1.5em; }

b, strong {
  font-weight: bold; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #d9dce0;
  font-family: "Courier 10 Pitch", Courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  color: #d9dce0;
  background: #3d424a;
  padding: 0.05em 0.25em; }

abbr, acronym {
  border-bottom: 1px dotted #3d424a;
  cursor: help; }

mark, ins {
  background: #3d424a;
  color: #d9dce0;
  text-decoration: none; }

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

blockquote {
  font-size: 10px;
  font-size: 1rem;
  line-height: 2px;
  line-height: 2.22222rem;
  display: block;
  color: #d9dce0;
  padding: 5px 20px;
  border-left: 2px solid #d9dce0;
  margin-bottom: 1em; }
  blockquote p {
    margin-bottom: 0; }

blockquote:before {
  content: ''; }

cite {
  color: #3d424a;
  font-style: normal;
  font-size: 9px;
  font-size: 0.9rem;
  line-height: normal; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
  background-color: #3d424a;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

.list-unstyled, .list-inline {
  list-style: none;
  padding: 0;
  margin: 0; }
  .list-unstyled li, .list-inline li {
    margin-top: 0;
    margin-bottom: 0; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul > li,
ol > li,
li > ul,
li > ol,
i > ul a,
li > ol a {
  margin-bottom: 1em; }

dd {
  margin: 0 1.5em 1.5em; }

dl, menu, ol, ul {
  margin: 1em 0; }

dd,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0; }

dd {
  margin-bottom: 1em; }

table {
  border-collapse: collapse;
  margin-bottom: 3em;
  width: 100%;
  background: #fff;
  border-spacing: 0;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  *white-space: normal; }

table a {
  color: #fff !important; }

td, th {
  padding: 0.75em 1.5em;
  text-align: left; }

td.err {
  background-color: #e992b9;
  color: #fff;
  text-align: center;
  line-height: 1;
  font-size: 7.5px;
  font-size: 0.75rem; }

th {
  background-color: #3d424a;
  font-weight: 400;
  color: #fff;
  white-space: nowrap; }

tbody th {
  background-color: #939aa6; }

tbody tr:nth-child(2n-1) {
  background-color: #f5f5f5;
  transition: all .125s ease-in-out; }

tbody tr:hover {
  background-color: #d9dce0; }

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */ }

/* ==================================================
   Buttons
================================================== */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  display: inline-block;
  margin-bottom: 0;
  padding: 13px 26px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #3d424a;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  -webkit-appearance: button;
  *overflow: visible;
  cursor: pointer;
  border: none;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  *border: 0;
  *zoom: 1; }

button[disabled],
html input[disabled] {
  cursor: default; }

/* Search Buttons */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*--- Hover/Active/Focus State ---*/
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:hover,
.button:active,
.button:focus {
  background-color: #26292E;
  border: solid .5px;
  color: #FFFFFF; }

/* --- Button Sizes --- */
button.button-large,
.button.button-large {
  padding: 16px 30px;
  font-size: 18px; }

button.button-small,
.button.button-small {
  padding: 8px 18px;
  font-size: 14px; }

button.button-mini,
.button.button-mini {
  padding: 4px 12px;
  font-size: 12px; }

.button.button-block,
button.button-block {
  padding-right: 0;
  padding-left: 0;
  width: 100%; }

.button + .button,
button + .button {
  margin-left: 10px; }

/* Search Buttons */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none; }

fieldset {
  border: 0;
  padding: 0; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

label {
  margin: 0;
  cursor: pointer; }

button, input, select, textarea {
  font-size: 100%;
  vertical-align: baseline;
  *vertical-align: middle; }

input[type=text],
input[type=password],
input[type=email],
input[type="url"],
input[type=search],
input[type=tel],
textarea {
  padding: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: normal;
  border: 1px solid #ccc;
  color: #d9dce0; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #939aa6; }

input[type=checkbox],
input[type=radio] {
  cursor: pointer;
  box-sizing: border-box;
  line-height: normal;
  margin: 0;
  padding: 0;
  *height: 13px;
  *width: 13px; }

.checkbox {
  margin: 0.2em 0; }
  .checkbox input[type=checkbox],
  .checkbox input[type=radio] {
    margin-top: 0.05em; }
  .checkbox label {
    padding-left: 5px;
    overflow: hidden;
    display: table;
    *zoom: 1; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

textarea {
  overflow: auto;
  vertical-align: top;
  max-width: 100%;
  display: -moz-inline-flex;
  display: -moz-inline-box;
  display: -moz-box;
  resize: none; }

input[type="website"] [value="Website"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield; }

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/
a {
  color: #fff;
  text-decoration: none; }
  a:visited {
    color: #bfbfbf; }
  a:hover, a:focus, a:active {
    color: #d9d9d9;
    outline: 0; }

/*--------------------------------------------------------------
Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  margin: 0 auto; }
  .main-navigation ul {
    text-align: left;
    display: inline;
    margin: 0;
    list-style: none;
    padding-left: 0; }
    .main-navigation ul ul {
      display: none; }
  .main-navigation ul li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  .main-navigation ul li:hover {
    background: #3d424a;
    color: #939aa6; }
  .main-navigation ul li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 150px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s; }
  .main-navigation ul li ul li {
    background: #3d424a;
    display: block;
    color: #939aa6;
    text-shadow: 0 -1px 0 #000;
    margin-bottom: 0; }
  .main-navigation ul li ul li:hover {
    background: #666; }
  .main-navigation ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible; }
  .main-navigation a {
    color: #fff; }
  .main-navigation a {
    min-width: 100px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1em;
    font-weight: 600;
    padding: 0 0.5em;
    margin: 0 0.4em 0;
    font-size: 0.8em;
    cursor: pointer;
    color: #fff;
    outline: none;
    text-decoration: none;
    display: inline-block;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex; }

/* Small menu */
.menu-toggle {
  display: none; }

@media screen and (max-width: 600px) {
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block; }

  .main-navigation ul {
    display: none; } }
.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #d9dce0;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #9c8449;
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */ }

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  display: block;
  margin: 0 auto; }

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before, .site:before, .site-header:before,
.site-footer:before,
.clear:after,
.site:after,
.site-header:after,
.site-footer:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table; }

.clear:after, .site:after, .site-header:after,
.site-footer:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  padding-left: 1em;
  letter-spacing: 1px;
  font-size: .8em;
  /* Make sure select elements fit in widgets */ }
  .widget h1 {
    font-size: 1.5em; }
  .widget ul, .widget ol {
    margin-left: 0;
    padding-left: 2em; }
  .widget select {
    max-width: 100%; }

/* Search widget */
.widget_search .search-submit {
  display: none; }

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.site-header, .site-header-sm {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 !important;
  z-index: 50;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: #26292E;
  width: 100%; }

/* Branding and Logo styling */
.site-branding {
  display: box; }

.site-header-sm .site-branding {
  float: left;
  width: auto;
  display: box; }

/* Header container styling */
.site-header-sm .main-navigation ul {
  width: auto;
  margin: 0 50px 0 20px;
  display: inline-table;
  display: inline-flex;
  display: -moz-inline-box;
  display: -moz-box; }

.site-header-sm {
  height: 60px;
  border-bottom: 1px solid #3d424a; }

.site-header-sm ul {
  float: right; }

/* Navigation styling */
.main-navigation {
  clear: both;
  width: 100%; }

.site-header-sm .main-navigation {
  float: right;
  clear: none; }
  .site-header-sm .main-navigation a {
    line-height: 5em; }

/* Text styling */
.site-header h1,
.site-header h1::before,
.site-header h1 span,
.site-header nav,
.site-header nav::before {
  display: inline-block;
  vertical-align: middle;
  text-align: center; }

.site-header h1 {
  font-size: 4em;
  text-transform: uppercase;
  height: 46px;
  margin: .5em 0 0.3em;
  padding: 0;
  cursor: default;
  width: 100%;
  z-index: 1; }

.site-header h1 a {
  margin-bottom: 0 !important; }

.site-header-sm h1 a {
  float: left;
  line-height: 60px;
  margin-bottom: 0 !important; }

.site-header-sm h1 {
  text-transform: uppercase;
  font-size: 3em;
  margin: 0 20px 0 50px;
  padding: 0;
  cursor: default;
  height: 60px;
  line-height: 1.5em; }

.site-header h2 {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-transform: lowercase;
  font-size: 1em;
  margin: 0 0 2em;
  padding: 0;
  z-index: 1;
  width: 100%; }

.site-header-sm h2 {
  display: none !important; }

.site-header h1::before,
.site-header nav::before {
  content: '';
  height: 100%; }

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0 auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

/*--------------------------------------------------------------
13.0 Layout
--------------------------------------------------------------*/
.section {
  position: relative; }

.container, .site-content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }

.container-full, .site-branding {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.col, .site-main, .widget-area, .site .site-info, .site-header .site-info,
.site-footer .site-info {
  float: left;
  padding-left: 10px;
  padding-right: 10px; }

[class*="pull-"], [class*="push-"] {
  position: relative; }

.no-gutter, .site-content, .site-main, .widget-area {
  padding-left: 0;
  padding-right: 0; }

.col-1 {
  width: 8.33333%;
  width: calc(100% / 12 * 1);
  width: -webkit-calc(100% / 12 * 1);
  width: -moz-calc(100% / 12 * 1); }

.col-2 {
  width: 16.66667%;
  width: calc(100% / 12 * 2);
  width: -webkit-calc(100% / 12 * 2);
  width: -moz-calc(100% / 12 * 2); }

.col-3, .col-1-4, .site-header-sm .site-branding, .widget-area {
  width: 25%;
  width: calc(100% / 12 * 3);
  width: -webkit-calc(100% / 12 * 3);
  width: -moz-calc(100% / 12 * 3); }

.col-4, .col-1-3 {
  width: 33.33333%;
  width: calc(100% / 12 * 4);
  width: -webkit-calc(100% / 12 * 4);
  width: -moz-calc(100% / 12 * 4); }

.col-5 {
  width: 41.66665%;
  width: calc(100% / 12 * 5);
  width: -webkit-calc(100% / 12 * 5);
  width: -moz-calc(100% / 12 * 5); }

.col-6, .col-1-2 {
  width: 50%;
  width: calc(100% / 12 * 6);
  width: -webkit-calc(100% / 12 * 6);
  width: -moz-calc(100% / 12 * 6); }

.col-7 {
  width: 58.33333%;
  width: calc(100% / 12 * 7);
  width: -webkit-calc(100% / 12 * 7);
  width: -moz-calc(100% / 12 * 7); }

.col-8 {
  width: 66.66666%;
  width: calc(100% / 12 * 8);
  width: -webkit-calc(100% / 12 * 8);
  width: -moz-calc(100% / 12 * 8); }

.col-9, .col-3-4, .site-header-sm .main-navigation, .site-main {
  width: 75%;
  width: calc(100% / 12 * 9);
  width: -webkit-calc(100% / 12 * 9);
  width: -moz-calc(100% / 12 * 9); }

.col-10 {
  width: 83.33333%;
  width: calc(100% / 12 * 10);
  width: -webkit-calc(100% / 12 * 10);
  width: -moz-calc(100% / 12 * 10); }

.col-11 {
  width: 91.66666%;
  width: calc(100% / 12 * 11);
  width: -webkit-calc(100% / 12 * 11);
  width: -moz-calc(100% / 12 * 11); }

.col-12, .site, .site-header,
.site-footer {
  width: 100%; }

.push-1 {
  left: 8.33333%;
  left: calc(100% / 12 * 1);
  left: -webkit-calc(100% / 12 * 1);
  left: -moz-calc(100% / 12 * 1); }

.pull-1 {
  left: -8.33333%;
  left: calc(-100% / 12 * 1);
  left: -webkit-calc(-100% / 12 * 1);
  left: -moz-calc(-100% / 12 * 1); }

.push-2 {
  left: 16.66667%;
  left: calc(100% / 12 * 2);
  left: -webkit-calc(100% / 12 * 2);
  left: -moz-calc(100% / 12 * 2); }

.pull-2 {
  left: -16.66667%;
  left: calc(-100% / 12 * 2);
  left: -webkit-calc(-100% / 12 * 2);
  left: -moz-calc(-100% / 12 * 2); }

.push-3, .push-1-4 {
  left: 25%;
  left: calc(100% / 12 * 3);
  left: -webkit-calc(100% / 12 * 3);
  left: -moz-calc(100% / 12 * 3); }

.pull-3, .pull-1-4 {
  left: -25%;
  left: calc(-100% / 12 * 3);
  left: -webkit-calc(-100% / 12 * 3);
  left: -moz-calc(-100% / 12 * 3); }

.push-4, .push-1-3 {
  left: 33.33333%;
  left: calc(100% / 12 * 4);
  left: -webkit-calc(100% / 12 * 4);
  left: -moz-calc(100% / 12 * 4); }

.pull-4, .pull-1-3 {
  left: -33.33333%;
  left: calc(-100% / 12 * 4);
  left: -webkit-calc(-100% / 12 * 4);
  left: -moz-calc(-100% / 12 * 4); }

.push-5 {
  left: 41.66665%;
  left: calc(100% / 12 * 5);
  left: -webkit-calc(100% / 12 * 5);
  left: -moz-calc(100% / 12 * 5); }

.pull-5 {
  left: -41.66665%;
  left: calc(-100% / 12 * 5);
  left: -webkit-calc(-100% / 12 * 5);
  left: -moz-calc(-100% / 12 * 5); }

.push-6, .push-1-2 {
  left: 50%;
  left: calc(100% / 12 * 6);
  left: -webkit-calc(100% / 12 * 6);
  left: -moz-calc(100% / 12 * 6); }

.pull-6, .pull-1-2 {
  left: -50%;
  left: calc(-100% / 12 * 6);
  left: -webkit-calc(-100% / 12 * 6);
  left: -moz-calc(-100% / 12 * 6); }

.push-7 {
  left: 58.33333%;
  left: calc(100% / 12 * 7);
  left: -webkit-calc(100% / 12 * 7);
  left: -moz-calc(100% / 12 * 7); }

.pull-7 {
  left: -58.33333%;
  left: calc(-100% / 12 * 7);
  left: -webkit-calc(-100% / 12 * 7);
  left: -moz-calc(-100% / 12 * 7); }

.push-8 {
  left: 66.66666%;
  left: calc(100% / 12 * 8);
  left: -webkit-calc(100% / 12 * 8);
  left: -moz-calc(100% / 12 * 8); }

.pull-8 {
  left: -66.66666%;
  left: calc(-100% / 12 * 8);
  left: -webkit-calc(-100% / 12 * 8);
  left: -moz-calc(-100% / 12 * 8); }

.push-9, .push-3-4 {
  left: 75%;
  left: calc(100% / 12 * 9);
  left: -webkit-calc(100% / 12 * 9);
  left: -moz-calc(100% / 12 * 9); }

.pull-9, .pull-3-4 {
  left: -75%;
  left: calc(-100% / 12 * 9);
  left: -webkit-calc(-100% / 12 * 9);
  left: -moz-calc(-100% / 12 * 9); }

.push-10 {
  left: 83.33333%;
  left: calc(100% / 12 * 10);
  left: -webkit-calc(100% / 12 * 10);
  left: -moz-calc(100% / 12 * 10); }

.pull-10 {
  left: -83.33333%;
  left: calc(-100% / 12 * 10);
  left: -webkit-calc(-100% / 12 * 10);
  left: -moz-calc(-100% / 12 * 10); }

.push-11 {
  left: 91.66666%;
  left: calc(100% / 12 * 11);
  left: -webkit-calc(100% / 12 * 11);
  left: -moz-calc(100% / 12 * 11); }

.pull-11 {
  left: -91.66666%;
  left: calc(-100% / 12 * 11);
  left: -webkit-calc(-100% / 12 * 11);
  left: -moz-calc(-100% / 12 * 11); }

.row, .site .site-footer, .site-header .site-footer,
.site-footer .site-footer {
  padding-top: 1em;
  padding-bottom: 1em; }

.no-desktop {
  display: none; }

.no-margin, .no-style-heading {
  margin: 0; }

.no-padding {
  padding: 0; }

.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }

@media only screen and (max-width: 739px) {
  .container, .site-content, .mobile-container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    float: none; }
    .container:first-child, .site-content:first-child, .mobile-container:first-child {
      margin-left: auto; }

  .mobile-container-full {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    float: none; }
    .mobile-container-full:first-child {
      margin-left: auto; }

  .mobile-no-gutter {
    padding-left: 0;
    padding-right: 0; }

  .mobile-col-1-2 {
    width: 50%;
    width: calc(100% / 12 * 6);
    width: -webkit-calc(100% / 12 * 6);
    width: -moz-calc(100% / 12 * 6); }

  .mobile-col-1-3 {
    width: 33.33333%;
    width: calc(100% / 12 * 4);
    width: -webkit-calc(100% / 12 * 4);
    width: -moz-calc(100% / 12 * 4); }

  .mobile-col-1-4 {
    width: 25%;
    width: calc(100% / 12 * 3);
    width: -webkit-calc(100% / 12 * 3);
    width: -moz-calc(100% / 12 * 3); }

  .mobile-col-3-4 {
    width: 75%;
    width: calc(100% / 12 * 9);
    width: -webkit-calc(100% / 12 * 9);
    width: -moz-calc(100% / 12 * 9); }

  .mobile-push-1-2 {
    left: 50%;
    left: calc(100% / 12 * 6);
    left: -webkit-calc(100% / 12 * 6);
    left: -moz-calc(100% / 12 * 6); }

  .mobile-pull-1-2 {
    left: -50%;
    left: calc(-100% / 12 * 6);
    left: -webkit-calc(-100% / 12 * 6);
    left: -moz-calc(-100% / 12 * 6); }

  .mobile-push-1-3 {
    left: 25%;
    left: calc(100% / 12 * 3);
    left: -webkit-calc(100% / 12 * 3);
    left: -moz-calc(100% / 12 * 3); }

  .mobile-pull-1-3 {
    left: -25%;
    left: calc(-100% / 12 * 3);
    left: -webkit-calc(-100% / 12 * 3);
    left: -moz-calc(-100% / 12 * 3); }

  .mobile-push-1-4 {
    left: 33.33333%;
    left: calc(100% / 12 * 4);
    left: -webkit-calc(100% / 12 * 4);
    left: -moz-calc(100% / 12 * 4); }

  .mobile-pull-1-4 {
    left: -33.33333%;
    left: calc(-100% / 12 * 4);
    left: -webkit-calc(-100% / 12 * 4);
    left: -moz-calc(-100% / 12 * 4); }

  .mobile-push-3-4 {
    left: 75%;
    left: calc(100% / 12 * 9);
    left: -webkit-calc(100% / 12 * 9);
    left: -moz-calc(100% / 12 * 9); }

  .mobile-pull-3-4 {
    left: -75%;
    left: calc(-100% / 12 * 9);
    left: -webkit-calc(-100% / 12 * 9);
    left: -moz-calc(-100% / 12 * 9); }

  .mobile-no-push, .mobile-no-pull {
    left: auto; }

  .mobile-row {
    padding-top: 1em;
    padding-bottom: 1em; }

  .mobile-full {
    left: auto;
    clear: both;
    float: none;
    width: 100%;
    margin: 0.2em 0 0 0;
    display: block; }

  .mobile-full:first-child {
    margin-top: 0; }

  .mobile-text-left {
    text-align: left; }

  .mobile-text-right {
    text-align: right; }

  .mobile-text-center {
    text-align: center; }

  .mobile-left {
    float: left; }

  .mobile-right {
    float: right; }

  .mobile-no-float {
    float: none; }

  .mobile-no-margin {
    margin: 0; }

  .mobile-no-padding {
    padding: 0; }

  .no-mobile {
    display: none; }

  .show-mobile {
    display: block; } }
@media only screen and (min-width: 740px) and (max-width: 959px) {
  .container, .site-content, .tablet-container {
    max-width: 960px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    float: none; }
    .container:first-child, .site-content:first-child, .tablet-container:first-child {
      margin-left: auto; }

  .tablet-container-full {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    float: none; }
    .tablet-container-full:first-child {
      margin-left: auto; }

  .tablet-no-gutter {
    padding-left: 0;
    padding-right: 0; }

  .tablet-col-1 {
    width: 8.33333%;
    width: calc(100% / 12 * 1);
    width: -webkit-calc(100% / 12 * 1);
    width: -moz-calc(100% / 12 * 1); }

  .tablet-col-2 {
    width: 16.66667%;
    width: calc(100% / 12 * 2);
    width: -webkit-calc(100% / 12 * 2);
    width: -moz-calc(100% / 12 * 2); }

  .tablet-col-3, .tablet-col-1-4 {
    width: 25%;
    width: calc(100% / 12 * 3);
    width: -webkit-calc(100% / 12 * 3);
    width: -moz-calc(100% / 12 * 3); }

  .tablet-col-4, .tablet-col-1-3 {
    width: 33.33333%;
    width: calc(100% / 12 * 4);
    width: -webkit-calc(100% / 12 * 4);
    width: -moz-calc(100% / 12 * 4); }

  .tablet-col-5 {
    width: 41.66665%;
    width: calc(100% / 12 * 5);
    width: -webkit-calc(100% / 12 * 5);
    width: -moz-calc(100% / 12 * 5); }

  .tablet-col-6, .tablet-col-1-2 {
    width: 50%;
    width: calc(100% / 12 * 6);
    width: -webkit-calc(100% / 12 * 6);
    width: -moz-calc(100% / 12 * 6); }

  .tablet-col-7 {
    width: 58.33333%;
    width: calc(100% / 12 * 7);
    width: -webkit-calc(100% / 12 * 7);
    width: -moz-calc(100% / 12 * 7); }

  .tablet-col-8 {
    width: 66.66666%;
    width: calc(100% / 12 * 8);
    width: -webkit-calc(100% / 12 * 8);
    width: -moz-calc(100% / 12 * 8); }

  .tablet-col-9, .tablet-col-3-4 {
    width: 75%;
    width: calc(100% / 12 * 9);
    width: -webkit-calc(100% / 12 * 9);
    width: -moz-calc(100% / 12 * 9); }

  .tablet-col-10 {
    width: 83.33333%;
    width: calc(100% / 12 * 10);
    width: -webkit-calc(100% / 12 * 10);
    width: -moz-calc(100% / 12 * 10); }

  .tablet-col-11 {
    width: 91.66666%;
    width: calc(100% / 12 * 11);
    width: -webkit-calc(100% / 12 * 11);
    width: -moz-calc(100% / 12 * 11); }

  .tablet-col-12 {
    width: 100%; }

  .tablet-push-1 {
    left: 8.33333%;
    left: calc(100% / 12 * 1);
    left: -webkit-calc(100% / 12 * 1);
    left: -moz-calc(100% / 12 * 1); }

  .tablet-pull-1 {
    left: -8.33333%;
    left: calc(-100% / 12 * 1);
    left: -webkit-calc(-100% / 12 * 1);
    left: -moz-calc(-100% / 12 * 1); }

  .tablet-push-2 {
    left: 16.66667%;
    left: calc(100% / 12 * 2);
    left: -webkit-calc(100% / 12 * 2);
    left: -moz-calc(100% / 12 * 2); }

  .tablet-pull-2 {
    left: -16.66667%;
    left: calc(-100% / 12 * 2);
    left: -webkit-calc(-100% / 12 * 2);
    left: -moz-calc(-100% / 12 * 2); }

  .tablet-push-3, .tablet-push-1-4 {
    left: 25%;
    left: calc(100% / 12 * 3);
    left: -webkit-calc(100% / 12 * 3);
    left: -moz-calc(100% / 12 * 3); }

  .tablet-pull-3, .tablet-pull-1-4 {
    left: -25%;
    left: calc(-100% / 12 * 3);
    left: -webkit-calc(-100% / 12 * 3);
    left: -moz-calc(-100% / 12 * 3); }

  .tablet-push-4, .tablet-push-1-3 {
    left: 33.33333%;
    left: calc(100% / 12 * 4);
    left: -webkit-calc(100% / 12 * 4);
    left: -moz-calc(100% / 12 * 4); }

  .tablet-pull-4, .tablet-pull-1-3 {
    left: -33.33333%;
    left: calc(-100% / 12 * 4);
    left: -webkit-calc(-100% / 12 * 4);
    left: -moz-calc(-100% / 12 * 4); }

  .tablet-push-5 {
    left: 41.66665%;
    left: calc(100% / 12 * 5);
    left: -webkit-calc(100% / 12 * 5);
    left: -moz-calc(100% / 12 * 5); }

  .tablet-pull-5 {
    left: -41.66665%;
    left: calc(-100% / 12 * 5);
    left: -webkit-calc(-100% / 12 * 5);
    left: -moz-calc(-100% / 12 * 5); }

  .tablet-push-6, .tablet-push-1-2 {
    left: 50%;
    left: calc(100% / 12 * 6);
    left: -webkit-calc(100% / 12 * 6);
    left: -moz-calc(100% / 12 * 6); }

  .tablet-pull-6, .tablet-pull-1-2 {
    left: -50%;
    left: calc(-100% / 12 * 6);
    left: -webkit-calc(-100% / 12 * 6);
    left: -moz-calc(-100% / 12 * 6); }

  .tablet-push-7 {
    left: 58.33333%;
    left: calc(100% / 12 * 7);
    left: -webkit-calc(100% / 12 * 7);
    left: -moz-calc(100% / 12 * 7); }

  .tablet-pull-7 {
    left: -58.33333%;
    left: calc(-100% / 12 * 7);
    left: -webkit-calc(-100% / 12 * 7);
    left: -moz-calc(-100% / 12 * 7); }

  .tablet-push-8 {
    left: 66.66666%;
    left: calc(100% / 12 * 8);
    left: -webkit-calc(100% / 12 * 8);
    left: -moz-calc(100% / 12 * 8); }

  .tablet-pull-8 {
    left: -66.66666%;
    left: calc(-100% / 12 * 8);
    left: -webkit-calc(-100% / 12 * 8);
    left: -moz-calc(-100% / 12 * 8); }

  .tablet-push-9, .tablet-push-3-4 {
    left: 75%;
    left: calc(100% / 12 * 9);
    left: -webkit-calc(100% / 12 * 9);
    left: -moz-calc(100% / 12 * 9); }

  .tablet-pull-9, .tablet-pull-3-4 {
    left: -75%;
    left: calc(-100% / 12 * 9);
    left: -webkit-calc(-100% / 12 * 9);
    left: -moz-calc(-100% / 12 * 9); }

  .tablet-push-10 {
    left: 83.33333%;
    left: calc(100% / 12 * 10);
    left: -webkit-calc(100% / 12 * 10);
    left: -moz-calc(100% / 12 * 10); }

  .tablet-pull-10 {
    left: -83.33333%;
    left: calc(-100% / 12 * 10);
    left: -webkit-calc(-100% / 12 * 10);
    left: -moz-calc(-100% / 12 * 10); }

  .tablet-push-11 {
    left: 91.66666%;
    left: calc(100% / 12 * 11);
    left: -webkit-calc(100% / 12 * 11);
    left: -moz-calc(100% / 12 * 11); }

  .tablet-pull-11 {
    left: -91.66666%;
    left: calc(-100% / 12 * 11);
    left: -webkit-calc(-100% / 12 * 11);
    left: -moz-calc(-100% / 12 * 11); }

  .tablet-no-push, .tablet-no-pull {
    left: auto; }

  .tablet-row {
    padding-top: 1em;
    padding-bottom: 1em; }

  .tablet-full {
    left: auto;
    clear: both;
    float: none;
    width: 100%;
    margin: 1em 0 0 0;
    display: block; }

  .tablet-full:first-child {
    margin-top: 0; }

  .tablet-text-left {
    text-align: left; }

  .tablet-text-right {
    text-align: right; }

  .tablet-text-center {
    text-align: center; }

  .tablet-left {
    float: left; }

  .tablet-right {
    float: right; }

  .tablet-no-float {
    float: none; }

  .tablet-no-margin {
    margin: 0; }

  .tablet-no-padding {
    padding: 0; }

  .no-tablet {
    display: none; }

  .show-tablet {
    display: block; } }
body {
  margin: 0px;
  padding: 0px; }

.site-main {
  padding-top: 13.625em; }

.widget-area {
  padding-top: 13.625em; }

@media print {
  * {
    background: transparent; }

  a, a:visited {
    text-decoration: underline; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100%; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
.left, .checkbox input[type=checkbox],
.checkbox input[type=radio] {
  float: left; }

.right {
  float: right; }

.block, .checkbox {
  display: block; }

.inline {
  display: inline; }

.inline-block, audio, canvas, video, .list-inline, .list-inline li {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.none, audio:not([controls]),
[hidden] {
  display: none; }

.font-ultra-bold {
  font-weight: 900; }

.font-bold, b, strong, .strong {
  font-weight: 700; }

.font-normal, cite, legend, input[type=text],
input[type=password],
input[type=email],
input[type="url"],
input[type=search],
input[type=tel],
textarea {
  font-weight: 500; }

.font-light {
  font-weight: 300; }

.font-thin {
  font-weight: 100; }

.font-normal, cite, legend, input[type=text],
input[type=password],
input[type=email],
input[type="url"],
input[type=search],
input[type=tel],
textarea {
  font-style: normal; }

.capitalize {
  text-transform: capitalize; }

.uppercase {
  text-transform: uppercase; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  left: -9999em; }

.image-left {
  margin-right: 20px; }

.image-right {
  margin-left: 20px; }

/*# sourceMappingURL=paper.css.map */
