// Color Values
$color__1: #fff; // White
$color__2: #9c8449; // Gold
$color__3: #26292E; // Base Color / Darkest
$light: lighten($color__3, 10%); // Darker
$lighter: lighten($color__3, 45%); // Dark
$lightest: lighten($color__3, 70%); // Light

//Assign Colors//

//Main
$color__text-main: $lighter; // Default font color
$color__text-heading: $lightest; // Heading Tags
$color__background-body: $color__3; // Theme default background
$color__background-header: $color__3; // Theme header background
$color__background-screen: $lightest; // Theme Screen


//Links, Menus, Buttons
$color__link: $color__1;
$color__link-visited: darken($color__1, 25%);
$color__link-hover: darken($color__1, 15%);

$color__tex-main-nav: $color__1;
$color__border-main-nav: $light;

$color__background-button: $light;
$color__text-button: $lighter;
$default-button-hover-color:  $light;


// Tables, Forms, Inputs

$color__text-screen: $color__2;

$color__text-input: $light;
$color__text-input-focus: $color__3;

$color__background-hr: $light;

$color__background-hr: $light;


// Code, Pre, Ins, Abbr, Cite, Block Quotes, Text Area

$color__border-abbr: $light;

$color__border-blockquote: $lightest;

$color__text-pre: $color__1;
$color__background-pre: $light;

$color__text-cite: $light;

$color__background-hr: $light;

$color__background-ins: $light;

$color__text-code: $lightest;
$color__text-code-background: $light;

$color__text-textarea: $lightest;
$color__text-textarea-focus: $lighter;