// ==========================================================================
// Menus
// ==========================================================================

.main-navigation {
	clear: both;
	margin: 0 auto;
	text-transform: uppercase;


		a {
			display: block;
			text-decoration: none;
			padding: 5px 15px 20px;
			text-transform: uppercase;
			color: $color__tex-main-nav;
		}//End
		a:hover {color:$color__text-main}//End

ul {
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-ms-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		margin: 0;
		padding-left: 0;
	}//End
	
li {
		display: inline-block;
		position: relative;
		list-style: none;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-ms-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		margin-bottom: 0;
	}//End
	
> ul > li > a, h1 {
		text-transform: uppercase;
	}//End

ul ul {
		position: absolute;
		left: 0;
		top: 100%;
		visibility: hidden;
		opacity: 0;
	}//End
	
ul ul ul {
		left: 100%;
		top: 0;
	}//End
	


ul li:hover {
	  color: $color__text-button;
		}//End
	
li:hover > ul {
		visibility: visible;
		opacity: 1;
	}//End

}//End

ul li .sub-menu {
		  background: $color__background-body;
			border: solid 1px;
			border-top:0;
			z-index: 10;
	&>li{
		  background: $color__background-body;
		  display: block; 
		  color: $color__text-button;
		  margin-bottom: 0;
		  font-size: 0.8em;
		  max-width: 100%;
		  text-align: left;
		  &> ul {
		  	border-top:3px solid;
		  	//border-left:3px solid;
		  }
		& a {
			text-align: left;
			display: -moz-inline-box;
    text-overflow: ellipsis;
    white-space: nowrap;
			}
		}
	&>li:hover { color:$color__background-button;}

}//End

/* Small menu */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}