// ==========================================================================
// Lists
// ==========================================================================

// Class remove Styling from List
.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.list-inline {
  @extend .list-unstyled;
  @extend .inline-block;
  & li {
    @extend .inline-block;
  }
}
// End class

ul, ol {
	margin: 0 0 1.5em 3em;
}
ul, ol,
li > ul,
li > ol,
i > ul a,
li > ol a {
}


ul > li,
ol > li,
li > ul,
li > ol,
i > ul a,
li > ol a {
	margin-bottom: 1em;
}

dt {
}

dd {
	margin: 0 1.5em 1.5em;
}




dl, menu, ol, ul { margin: 1em 0; }
dd,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0;
}

dt {}
dd {
  margin-bottom: 1em;
}