
// ==========================================================================
// Tables
// ==========================================================================
table {
  border: 1px solid;
  padding: 10px;
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
  border-spacing: 0;
  display: table-cell;
  word-wrap: break-word; // CSS3 Browsers
  -ms-word-wrap: break-word; // IE8
  *white-space: normal;  // IE7
}
table a{ 
  color: $color__background-body;
  }

td, th {
    padding: 0.75em 1.5em;
    text-align: left;
}
td.err {
    background-color: #e992b9;
    color: #fff;
    text-align: center;
    line-height: 1;
    @include font-size(.75);
  }
th {
    background-color: $color__background-body;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}
tbody tr {
    background-color: $light;
    transition: all .125s ease-in-out;
}
tbody tr:nth-child(2n-1) {
    background-color: $lighter;
    color: $color__background-body;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: $color__background-body;
  color: $color__text-heading;
}
tbody tr th {
  background-color: $color__background-body;
  color: $lighter;

}

tbody tr th a {
  color: $lighter;

}
